.profile__text {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 440px) {
    .profile__text {
        font-size: 14px;
        line-height: 17px;
    }
}