.card__info {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    padding: 25px 20px 30px;
    background-color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}