.header__link {
    color: #ffffff;
    font-size: 18px;
    line-height: 122%;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.header__link:hover {
    opacity: 0.6;
}

@media (max-width: 440px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}